<div class="committee-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Committee</h1>
            </div>
        </div>

        {{#grouped_each 2 committee}}
        <div class="row col-md-10 col-md-offset-1">
            {{#each this}}
            <div class="col-md-6">
                <!--<div class="col-md-3">
                    <img src="{{profile_pic}}" class="img-responsive">
                </div>-->
                <!-- <div class="col-xs-9"> -->
                <div class="col-md-12">
                    <!-- <h4>{{name}}<br>{{title}}</h4> -->
                    <h3 style="margin-bottom: 5px">{{name}}</h3>
                    <h4 style="margin-bottom: 15px">{{title}}</h4>
                    <p>{{bio}}</p>
                </div>
            </div> 
            {{/each}}
        </div>
        {{/grouped_each}}

    </div>
</div>
